﻿@model bGomlaDB.Branch

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
    var branchSrv = Model.dbServers.FirstOrDefault();
    
}




@foreach (var srv in _app.UI.dbServers().Where(x => x.ServerID != branchSrv.ServerID).ToList())
{


    var subs = _app.UI.Subscrtions(srv.ServerID, branchSrv.ServerID);

    if (subs.Count > 0)
    {
        <div class="panel">
            <div class="panel-heading">
                <h3>From @subs.FirstOrDefault().ServerPublication.dbServer.Branch.Name</h3>
            </div>
            <div class="panel-body">
                @foreach (var s in subs)
                {
                    @*<div class="col-sm-4" id="subBody_@s.SubscriptionID">
                @Html.Partial("~/Views/Shared/Replication/_SubscriptionPreLoading.cshtml", s)
            </div>*@

                    <div class="col-sm-6">
                         @Html.Partial("~/Areas/it/Views/Shared/Replication/Subscription/_Sub.cshtml", _app.UI.SubClass(s) )
                    </div>
                }
            </div>
        </div>
        <div class="divider" />
    }


}






