﻿@model bGomlaDB.Publication
@{
    ViewBag.Title = Model.Name;
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
}


@foreach (var publisher in Model.ServerPublications)
{

    foreach (var sub in publisher.Subscrtions)
    {

        @*<div class="col-sm-6" id="subBody_@sub.SubscriptionID">
                @Html.Partial("~/Views/Shared/Replication/_SubscriptionPreLoading.cshtml", sub )
            </div>*@

        <div class="col-sm-6">
            @Html.Partial("~/Areas/it/Views/Shared/Replication/Subscription/_Sub.cshtml", _app.UI.SubClass(sub))
        </div>
    }
}