﻿@model List<_Retail.PageModel.Sales.BranchSalesDate>

@{  string salesUpdate = "";}

<div class="panel">
    <div class="panel-heading">
        <h3>ٍSales from</h3>
    </div>
    <div class="panel-body">
        <ul class="feeds">

            @foreach (var item in Model)
            {
                if (item.Date.Date == DateTime.Today.Date)
                { salesUpdate = "success"; }
                else { salesUpdate = "danger"; }


                <li class="text-@salesUpdate">

                    <div class="col1">
                        <div class="cont">
                            <div class="cont-col1">
                                <div class="label label-sm label-@salesUpdate">
                                    <i class="fa fa-circle"></i>
                                </div>
                            </div>
                            <div class="cont-col2">
                                <div class="desc">
                                    @item.Branch.Name
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="date ">
                            @item.Date.AddDays(-1).ToShortDateString()
                            @*<time class="timeago" datetime="@item.Date.Date">

                                </time>*@
                        </div>
                    </div>

                </li>

            }



        </ul>
    </div>
</div>