﻿@model _app.PagesModel.ChartClass








<div class="panel">
    <div class="panel-heading">
        <h3>
            Sales Chart
        </h3>
    </div>
    <div class="panel-body">
        @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml", Model)
    </div>
</div>
