﻿@model _app.PagesModel.ChartClass


<div class="panel">
    <div class="panel-heading">
        <h3>Sales Table</h3>
    </div>
    <div class="panel-body">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <div >
                           Date
                            <br />
                           Branch
                        </div>
                    </th>

             


                    @for (int i = Model.Lables.Length; i-- > 0;)
                    {
                        DateTime d = DateTime.Parse(Model.Lables[i]);
                    <th>
                        <div class="text-center">
                            @d.DayOfWeek @d.Day/@d.Month
                            <br />
                           @{ int dayscount = Model.Lables.Count() - i; } 
                            @dayscount days ago
                        </div>
                       
                    </th>


                    }

                </tr>
          


            <tbody>

                @for (int i = Model.ChartDataSets.Count(); i-- > 0;)
                {
                <tr>
                    <td>@Model.ChartDataSets[i].label</td>



                    @for (int y = Model.Lables.Length; y-- > 0;)
                    {

                        <td>

                            @{ int value = 0;
                                if (Model.ChartDataSets[i].Data.Count() > y )
                                {
                                   value  = Convert.ToInt32(Model.ChartDataSets[i].Data[y]);
                                }
                               


                            }
                            <div class="text-center">
                                @if (value > i)
                                {

                                    @value.ToString("#,##0")

                                }
                                else
                                {
                                    <span class="text-danger">Offline</span>
                                }
                            </div>
                        </td>


                    }



                </tr>

                }


            </tbody>
            @*<tfoot>

                <tr class="success">
                    <td>
                      Day avrage
                    </td>
                    @foreach (var item in Model.ChartDataSets)
                    {
                        <td>

                            @{
                                int[] values = Array.ConvertAll(item.Data, int.Parse);
                            }

                            @Math.Round(values.Average(), 0).ToString("#,##0")
                        </td>
                    }
                </tr>
                <tr class="info">
                    <td>Total day</td>
                    @foreach (var item in Model.ChartDataSets)
                    {
                        <td>

                            @{
                                int[] values = Array.ConvertAll(item.Data, int.Parse);

                            }

                            @values.Sum().ToString("#,##0")
                        </td>
                    }
                </tr>
            </tfoot>*@

        </table>

    </div>
</div>

