﻿
@model bGomlaDB.dbServer


@{ 
    decimal count100 = Model.Machien.MachinePerformanceCounters.Where(x=> x.CPU >= 70).Count() ,
        count70 = Model.Machien.MachinePerformanceCounters.Where(x => x.CPU <= 69 && x.CPU  >= 40 ).Count(),
        count40 = Model.Machien.MachinePerformanceCounters.Where(x => x.CPU <= 39).Count();

    var total = count100 + count40 + count70;
    var b100 = Math.Round((count100/total) * 100 , 0) ;
    var b70 = Math.Round((count70 / total) * 100, 0);
    var b40 = 100 - (b100 + b70);
}

<div class="col-xs-12">

    <div class="col-xs-12 text-center ">
        <div class="col-xs-6 bold">
            <h4>CPU Preformance</h4>
        </div>
        
    </div>
    <div class="col-xs-12">
        <div class="progress ">
            <div class="progress-bar progress-bar-info"
                 style="width: @b100%">
                <span class="sr-only" style="position: inherit">
                   @count100 case
                </span>
            </div>
            <div class="progress-bar progress-bar-warning"
                 style="width: @b70%">
                <span class="sr-only" style="position: inherit">
                    @count70 case
                </span>
            </div>
            <div class="progress-bar progress-bar-success"
                 style="width: @b40%">
                <span class="sr-only" style="position: inherit">
                    @count40
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center bold">
        <div class="row">
            <div class="col-xs-4 text-info">
               100% ~ 70% @count100 times
            </div>
            <div class="col-xs-4 text-warning">
                70% ~ 40% @count70 times
            </div>
            <div class="col-xs-4 text-success">

               40% ~ 0% @count40 times
            </div>
        </div>

    </div>

</div>

