﻿

@model _app.PagesModel.DriveSpaceBar

@{

    

    decimal free = Model.FreeSpace;
    decimal cap = Model.Capacity;
    decimal db = Model.DatabaseSize;

    var freeBar = Math.Round((free / cap) * 100,0);
    var dbBar = Math.Round((db/ cap) * 100,0);
    var otherBar = 100 - (freeBar + dbBar);

}



<div class="col-xs-12">

    <div class="col-xs-12 text-center ">
        <div class="col-xs-6">
            <h4>Database drive</h4>
        </div>
        <div class="col-xs-6">
            <h4>
                @_app.UI.BytesToString(Model.Capacity)
            </h4>
           
        </div>
        </div>
    <div class="col-xs-12">
        @*<div class="progress ">
            <div class="progress-bar progress-bar-info"
                 style="width: @dbBar%">
                <span class="sr-only" style="position: inherit">
                    @dbBar%
                </span>
            </div>
            <div class="progress-bar progress-bar-warning"
                 style="width: @otherBar%">
                <span class="sr-only" style="position: inherit">
                    @otherBar%
                </span>
            </div>
            <div class="progress-bar progress-bar-success"
                 style="width: @freeBar%">
                <span class="sr-only" style="position: inherit">
                    @freeBar%
                </span>
            </div>
        </div>*@

        @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml" , new _app.PagesModel.ChartClass {
       CanvesID=Model.ServerID + 2000 ,
       ChartType = "doughnut",
       Lables= new string[] { "Database", "Other files" , "Free" },


       ChartDataSets = new List<_app.PagesModel.ChartDataSet> { new _app.PagesModel.ChartDataSet {
          Colors = new string[] { "#89C4F4", "#dfba49", "#45B6AF" } ,
          Data = new string[] { dbBar.ToString(), otherBar.ToString(), freeBar.ToString() },}
      }


   })


    </div>
    <div class="col-xs-12 text-center bold">
            <div class="row">
                <div class="col-xs-4 text-info">
                    @_app.UI.BytesToString(Model.DatabaseSize) Database
                </div>
                <div class="col-xs-4 text-warning">

                    @_app.UI.BytesToString(Model.Capacity - (Model.DatabaseSize + Model.FreeSpace)) Other
                </div>
                <div class="col-xs-4 text-success">

                    @_app.UI.BytesToString(Model.FreeSpace) Free
                </div>
            </div>

        </div>

    </div>

