﻿@model  bGomlaDB.LocalBackupLocationsDiskSpace




@{



    decimal free = Model.DriveFreeSpace;
    decimal cap = Model.DriveCapacity;

    var freeBar = Math.Round((free / cap) * 100, 0);
    var usedBar = 100 - freeBar;


}


<div class="col-xs-12">

    <div class="col-xs-12 text-center ">
        <div class="col-xs-6">
            <h4>local Backup</h4>
        </div>
        <div class="col-xs-6">
            <h4>
                Drive @Model.DriveLetter.ToUpper()
            </h4>

        </div>
    </div>
    <div class="col-xs-12">


        @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml" , new _app.PagesModel.ChartClass {
       CanvesID= Model.ServerID+ 3000,
       ChartType = "doughnut",
       Lables= new string[] { "Used", "Free" },


       ChartDataSets = new List<_app.PagesModel.ChartDataSet> { new _app.PagesModel.ChartDataSet {
           Colors = new string[] { "#f03f2a", "#45B6AF" } ,
           Data = new string[] { usedBar.ToString(), freeBar.ToString().ToString() },

        }
       }


   })

    </div>
    <div class="col-xs-12 text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6 text-danger">
                    @_app.UI.BytesToString(Convert.ToInt64(Model.DriveCapacity - Model.DriveFreeSpace)) used !
                </div>
                <div class="col-xs-6 text-success">
                    @_app.UI.BytesToString(Convert.ToInt64(Model.DriveFreeSpace))  free !
                </div>
            </div>

        </div>

    </div>
    <div class="col-xs-12 text-center">
        <div class="row">
            <div class="col-xs-12">
                Drive Capacity @_app.UI.BytesToString(Convert.ToInt64(Model.DriveCapacity))
            </div>

        </div>

    </div>


</div>