﻿@model  bGomlaDB.dbServer



@{ 

    var allTest = Model.Machien.MachinePerformanceCounters.OrderByDescending(x => x.pcDate).Take(100).ToList();

    DateTime enddate = allTest.FirstOrDefault().pcDate;
    DateTime startDate = allTest.LastOrDefault().pcDate;
    int Count = allTest.Count();

}

<div class="panel">
    <div class="panel-heading">
        <h3>@Model.Branch.Name</h3>
    </div>
    <div class="panel-body">
        @Html.Partial("~/Areas/it/Views/Shared/Preformance/_cpuBar.cshtml", Model)
    </div>
    <div class="panel-body">

        @{
            int colmd = 0;
            if (Model.LocalBackupLocationsDiskSpace != null) { colmd = 4; }
            else { colmd = 6; }

        }


        <div class="col-md-@colmd">
            @Html.Partial("~/Areas/it/Views/Shared/Preformance/_RamBar.cshtml", Model)

        </div>
        <div class="col-md-@colmd">
            @Html.Partial("~/Areas/it/Views/Shared/Preformance/_DriveSpaceBar.cshtml", new _app.PagesModel.DriveSpaceBar {
                   Capacity = Model.DriveCapacity,
                   DatabaseSize = Model.DatabaseSize,
                   FreeSpace = Model.DriveFreeSpace,
                   ServerID = Model.ServerID
              } )
        </div>
        @if (colmd == 4)
        {
            <div class="col-md-@colmd">
                @Html.Partial("~/Areas/it/Views/Shared/Preformance/_LocalDriveBackupSpaceBar.cshtml", Model.LocalBackupLocationsDiskSpace   )
            </div>
        }


    </div>

    <div class="panel-footer text-center">
        <div class="row">
            <div class="col-xs-4">
                <div class="col-xs-6 bold ">About</div>
                <div class="col-xs-6">@Count test cases</div>
            </div>
            <div class="col-xs-4">
                <div class="col-xs-6 bold">From</div>
                <div class="col-xs-6">
                    <time class="timeago" datetime="@startDate">@startDate</time>
                </div>
            </div>
                <div class="col-xs-4">
                    <div class="col-xs-6 bold">
                        Till :
                    </div>
                    <div class="col-xs-6">
                        <time class="timeago" datetime="@enddate">@enddate</time>
                    </div>
                </div>
            </div>
       
    </div>
</div>