﻿@model bGomlaDB.dbServer




@{

    var prf = Model.Machien.MachinePerformanceCounters;
    double avrageFree = prf.Average(x => x.Ram);
    int count = prf.Count();
    var allRam = Model.Ram;
    var used = allRam - avrageFree;
    var bused = Math.Round ((used / allRam) * 100,0);
    var bfree = 100 - bused;
    DateTime startdate = prf.OrderBy(x => x.pcDate).FirstOrDefault().pcDate;

 }


<div class="col-xs-12">

    <div class="col-xs-12 text-center ">
        <div class="col-xs-6">
            <h4>Ram usage</h4>
        </div>
        <div class="col-xs-6">
            <h4>
                @_app.UI.BytesToString(allRam)
            </h4>

        </div>
    </div>
    <div class="col-xs-12">
        @*<div class="progress ">
            <div class="progress-bar progress-bar-danger"
                 style="width: @bused%">
                <span class="sr-only" style="position: inherit">
                    @bused% used
                </span>
            </div>

            <div class="progress-bar progress-bar-success"
                 style="width: @bfree%">
                <span class="sr-only" style="position: inherit">
                    @bfree% free
                </span>
            </div>
        </div>*@

        @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml" , new _app.PagesModel.ChartClass {
       CanvesID= Model.ServerID+ 1000,
       ChartType = "doughnut",
       Lables= new string[] { "Used", "Free" },
      

       ChartDataSets = new List<_app.PagesModel.ChartDataSet> { new _app.PagesModel.ChartDataSet {
           Colors = new string[] { "#f03f2a", "#45B6AF" } ,
           Data = new string[] { bused.ToString(), bfree.ToString() },
          
        }
       }


   })

    </div>
    <div class="col-xs-12 text-center">
        <div class="row">
            <div class="col-xs-12">
                <div class="col-xs-6 text-danger">
                    @_app.UI.BytesToString(Convert.ToInt64( allRam - avrageFree)) avrage used !
                </div>
                <div class="col-xs-6 text-success">
                    @_app.UI.BytesToString(Convert.ToInt64(avrageFree)) avrage free !
                </div>
            </div>

        </div>

    </div>
    @*<div class="col-xs-12 text-center">
        <div class="row">
            <div class="col-xs-12">
                @count  test starting
                <time class="timeago" datetime="@startdate">
                    @startdate
                </time>
            </div>

        </div>

    </div>*@

</div>

