﻿@model List<_app.PagesModel.Artical>
@{ string rowClass = "", rowIcon = ""; }


    <div class="col-md-12">
        <table class="table table-condensed table-hover">
            @*<thead>
                    <tr>
                        <th>Table</th>
                        <th>@Model.Publiser.Branch.Name</th>
                        <th>@Model.Subscriber.Branch.Name</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>*@

            <tbody>
                @foreach (var item in Model)
                {
                    if (item.PublisherCount == null || item.SubScriperCount == null) { rowClass = "danger"; rowIcon = "fa fa-lock"; }
                    else if (item.PublisherCount == item.SubScriperCount) { rowClass = "success"; rowIcon = "fa fa-check-square"; }
                    else { rowClass = "warning"; rowIcon = "fa fa-exclamation"; }
                    <tr class="@rowClass text-center">
                        <td class="text-left">@item.ArticalName</td>
                        <td>
                            @if (item.PublisherCount.HasValue) { <span>@item.PublisherCount</span> }
                            else { <span>Locked !</span>}
                        </td>
                        <td>
                            @if (item.SubScriperCount.HasValue)
                            {<span>@item.SubScriperCount</span> }
                        else
                        { <span>Locked !</span>}
                        </td>
                        <td>@(item.PublisherCount - item.SubScriperCount)</td>
                        <td>
                            @if (rowIcon == "fa fa-exclamation" && !string.IsNullOrEmpty(item.GroupBy) )
                            {
                                <a  data-toggle="modal" href="#staticModal" onclick="var s= new subscriptions(@item.SubID); s.groupedData(@item.ArticalID)">
                                    <i class="@rowIcon"></i>
                                </a>
                            }
                            else
                            {
                                <i class="@rowIcon"></i>
                            }


                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>
                        Last update
                    </td>
                    <td colspan="4" class="text-right">
                        <time class="timeago" datetime="@System.DateTime.Now"></time>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>


   