﻿@model _app.PagesModel.GroupedData



@*<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <h4 class="modal-title">Grouped By Data</h4>
            </div>
            <div class="modal-body">
                <table class="col-md-12">
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.RowDate.ToShortDateString()</td>
                            <td></td>
                        </tr>
                    }
                </table>*@
@*<div  class="col-md-11">

            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <div class="col-xs-9">@item.RowDate.ToShortDateString()</div>
                    <div class="col-xs-3">@item.Count</div>
                </div>
            }

    </div>
    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn default">Cancel</button>
                        <button type="button" data-dismiss="modal" class="btn green">Continue Task</button>
                    </div>
                </div>
            </div>
        </div>*@


<div class="col-md-12">

    
        <table class=" table table-condensed table-hover">
            @foreach (var item in Model.GroupedDatas)
            {
                <tr>
                    <td>@item.RowDate.ToShortDateString()</td>
                    <td>@item.Count</td>
                </tr>
            }

        </table>
    

    
        
            <div class="col-md-12">
               
                <div class="col-xs-4">
                   
                    <a href="javascript:;" class="btn btn-success  btn-block " 
                       onclick="copyToClipboard(@Model.SubID)">
                        <i class="fa fa-files-o"></i>Copy
                    </a>
                </div>
                <div class="col-xs-8" id="filterText_@Model.SubID">
                    @Model.NewFilter
                </div>
                
                    
                
            </div>
            
        
  
    
</div>