﻿@model _app.WebAPI.OfflineServers

@{  string publihsercolor = "text-success"; string subscriperColor = "text-success";
   

        if (!Model.Publiser.Online) { publihsercolor = "text-danger"; }
        if (!Model.Subscriper.Online) { subscriperColor = "text-danger"; }
    }




<div class="row">
    <div class="col-md-12">
        <div class="col-xs-6 text-left @publihsercolor">
            Server @Model.Publiser.Branch.Name is
            @if (Model.Publiser.Online)
            {<span>online! </span> }
            else
            {<span>offline! </span>}
        </div>
        <div class="col-xs-6 text-right @subscriperColor">
            Server @Model.Subscriper.Branch.Name is
            @if (Model.Subscriper.Online)
            {<span>online! </span> }
            else
            {<span>offline! </span>}
        </div>
    </div>
   
</div>
