﻿@model _app.PagesModel.SubPartial




<div class="portlet box yellow portlet-box " id="subBox_@Model.SubID">

    <div class="portlet-title text-center">

        <div class="row">
            <div class="col-xs-3">
                <h5>@Model.PublisherBranch</h5>
            </div>
            <div class="col-xs-6">
                <h3>
                    @Model.PublicationName
                </h3>

            </div>
            <div class="col-xs-3">
                <h5>@Model.SubscriperBranch</h5>
            </div>
        </div>

    </div>


    <div class="portlet-body">

        <div class="row">
            <div class="col-xs-2 tooltips text-center" data-placement="top" data-original-title="@Model.PublisherBranch">
                <i class="fa fa-database "></i>
            </div>
            <div class="col-xs-8">
                <div class="progress progress-striped active" id="bar_@Model.SubID">
                    <div class="progress-bar progress-bar-warning" id="barInner_@Model.SubID"
                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Working ...!
                    </div>
                </div>
            </div>
            <div class="col-xs-2 tooltips text-center" data-placement="top"
                 data-original-title="@Model.SubscriperBranch">
                <i class="fa fa-database"></i>
            </div>
        </div>
        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row" id="articals_@Model.SubID">
        </div>
        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row" id="groupedData_@Model.SubID">

        </div>
        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <a href="javascript:;" class="btn blue-madison  btn-block " id="btnRefresh_@Model.SubID"
                   onclick="var sub = new subscriptions(@Model.SubID); sub.LoadSub(); ">
                    <i class="fa fa-refresh"></i> Reload !
                </a>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">


    $(document).ready(function () {
        @*LoadSub(@Model.SubID);*@
        let sub = new subscriptions(@Model.SubID);
        sub.LoadSub();

    });



</script>
