﻿@{
    Layout = "~/Views/Shared/layouts/_MasterLayout.cshtml";

}

<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU -->
            <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
            <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
            <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
            <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
            <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
            <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
            <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
                <li class="start active ">
                    <a href="/it/">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript:;">
                        <i class="fa fa-arrow-circle-o-up"></i>
                        <span class="title">Out Going Replication</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        @foreach (var item in _app.UI.Branches())
                        {
                            <li>
                                <a href="@Url.Action("OutByBranchLocation" , "Monitor" , new { id = item.BranchID })">
                                    @item.Name (@item.dbServers.FirstOrDefault().ServerPublications.Count())
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                <li>
                    <a href="javascript:;">
                        <i class="fa fa-arrow-circle-o-down"></i>
                        <span class="title">Incoming Replication</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        @foreach (var item in _app.UI.Branches())
                        {
                            <li>
                                <a href="@Url.Action("InByBranchLocation" , "Monitor" , new { id = item.BranchID })">
                                    @item.Name (@item.dbServers.FirstOrDefault().Subscrtions.Count())
                                </a>
                            </li>
                        }
                    </ul>
                </li>

                @foreach (var pubCat in _app.UI.publicationCategories())
                {
                    <li>
                        <a href="javascript:;">
                            @Html.Raw(pubCat.Icon)
                            <span class="title">@pubCat.Name Replications</span>
                            <span class="arrow "></span>
                        </a>
                        <ul class="sub-menu">
                            @foreach (var item in pubCat.Publications.OrderBy(x => x.Name).ToList())
                            {
                                <li>
                                    <a href="@Url.Action("Publication" , "Monitor" , new { id = item.PubID })">
                                        @item.Name
                                        @if (item.CatID != 1)
                                        {<span>(@item.ServerPublications.Count)</span>}


                                    </a>
                                </li>
                            }
                        </ul>
                    </li>
                }

                <li>
                    <a href="javascript:;">
                        <i class="fa fa-code"></i>
                        <span class="title">Servers Backup</span>
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a href="@Url.Action("index" , "Backup")">
                                All Servers
                            </a>
                        </li>
                        @foreach (var item in _app.UI.dbServers())
                        {

                            <li>
                                <a href="@Url.Action("BranchServer" , "Backup", new { id = item.ServerID })">
                                    @item.Branch.Name
                                </a>
                            </li>

                        }

                    </ul>
                </li>

                <li>
                    <a href="javascript:;">
                        <i class="fa fa-file"></i>
                        <span class="title">Reports</span>
                    </a>
                    <ul class="sub-menu">

                        <li>
                            <a href="@Url.Action("index" , "Preformance")">
                                Servers Preformance
                            </a>
                        </li>
                        <li>
                            <a href="@Url.Action("index" , "Network")">
                                Network
                            </a>
                        </li>

                    </ul>
                </li>

            </ul>

            <!-- END SIDEBAR MENU -->
        </div>
    </div>
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="page-content-wrapper">
        <div class="page-content">
            <!-- BEGIN PAGE HEAD -->
            
            <!-- END PAGE HEAD -->
            <!-- BEGIN PAGE BREADCRUMB -->
            <ul class="page-breadcrumb breadcrumb hide">
                <li>
                    <a href="javascript:;">Home</a><i class="fa fa-circle"></i>
                </li>
                <li class="active">
                    Dashboard
                </li>
            </ul>
            <!-- END PAGE BREADCRUMB -->

            @RenderBody()

            <!-- END PAGE CONTENT INNER -->
        </div>
    </div>
    <!-- END CONTENT -->
</div>


<div class="page-footer">
    <div class="page-footer-inner">
        2014 © Metronic by keenthemes.
    </div>

</div>
<div class="scroll-to-top">
    <i class="icon-arrow-up"></i>
</div>


<div id="static" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-body">
        <p>
            Would you like to continue with some arbitrary task?
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Cancel</button>
        <button type="button" data-dismiss="modal" class="btn blue">Continue Task</button>
    </div>
</div>


