﻿

@model _app.PagesModel.BackupPartial


<div class="portlet box yellow portlet-box " id="buBox_@Model.BackupID">

    <div class="portlet-title text-center">

        <div class="row">
            
            <div class="col-xs-12">
                <h3>
                    @Model.Branch
                </h3>

            </div>
           
        </div>

    </div>


    <div class="portlet-body">

        <div class="row">
            
            <div class="col-xs-12">
                <div class="progress progress-striped active" id="bubar_@Model.BackupID">
                    <div class="progress-bar progress-bar-warning" id="bubarInner_@Model.BackupID"
                         role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        Working ...!
                    </div>
                </div>
            </div>
            
        </div>
        <div class="row">
            <div class="divider"></div>
        </div>
        <div class="row" id="plans_@Model.BackupID">
        </div>

        <div class="row">
            <div class="col-md-12">
                <a href="javascript:;" class="btn blue-madison  btn-block " id="bubtnRefresh_@Model.BackupID"
                   onclick="var b = new backUps(@Model.BackupID); b.LoadBackups();">
                    <i class="fa fa-refresh"></i> Reload !
                </a>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">


    $(document).ready(function () {
        var b = new backUps(@Model.BackupID);
        b.LoadBackups();
    });



</script>


