﻿
@model List<_app.PagesModel.BackupPlan>
@{ string rowClass = "", rowIcon = ""; }
    
    
    



@foreach (var plan in Model)
{
    TimeSpan peroid = new TimeSpan(0, plan.interval, 1);
    <div class="col-xs-12">
        <div class="col-xs-7">
            <h4>
                @plan.PlaneName (*.@plan.extention)
            </h4>
        </div>
        <div class="col-xs-5 text-right">
            <h5>
               A file every @_app.UI.TimeSpanToString(peroid)
            </h5> 
           
        </div>

    </div>
    <div class="col-md-12">
        @if (plan.BackupLocations.Count() > 0)
        {

            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Last file</th>
                        <th>First file</th>
                        <th>Files</th>
                        <th>Root Size</th>
                       
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var loc in plan.BackupLocations)
                    {
                        if (loc.LastBackup.AddMinutes(loc.MinuteInterval) < System.DateTime.Now)
                        {

                            rowClass = "warning"; rowIcon = "fa fa-exclamation";
                        }
                        else
                        {
                            rowClass = "success"; rowIcon = "fa fa-check-square";

                        }


                        <tr class="@rowClass">
                            <td title="@loc.Root">@loc.Name</td>
                            <td>
                                <time class="timeago" datetime="@loc.LastBackup">
                                    @loc.LastBackup
                                </time>
                            </td>
                            <td>
                                <time class="timeago" datetime="@loc.FristBackup">
                                    @loc.FristBackup
                                </time>

                            </td>
                            <td>@loc.FilesCount</td>
                            <td>@_app.UI.BytesToString(loc.RootSize)</td>
                            <td>
                                <i class="@rowIcon"></i>
                            </td>

                        </tr>

                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td>
                            Last update
                        </td>
                        <td colspan="5" class="text-right">
                            <time class="timeago" datetime="@System.DateTime.Now">
                                @System.DateTime.Now
                            </time>
                        </td>
                    </tr>
                </tfoot>
            </table>
        }
        else
        {

            <h4 class="text-danger text-center">No Backups were found !</h4>
        }
    </div>
}

@foreach (var plan in Model)
{

    foreach (var loc in plan.BackupLocations.Where(x=> x.AverageFileGrowth > 0))
    {
    <div class="col-xs-12">
        <h4>
            Full backup file growth is @_app.UI.BytesToString(loc.AverageFileGrowth) per day and it's expected to be
            @_app.UI.expectedFileSize(loc.AverageFileGrowth, loc.RootSize)
        </h4>
    </div>
       
   
    }


}
