﻿@model List<bGomlaDB.dbServer>




@{
    ViewBag.Title = "Preformance Counter";
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
}



@foreach (var srv in Model)
{

    <div class="col-md-12">

        @Html.Partial("~/Areas/it/Views/Shared/Preformance/_PreformanceBars.cshtml", srv)
    </div>

}
