﻿@model _Retail.PageModel.Sales.SalesHome
    @{ 
       
        ViewBag.Title = "Daily Sales report";
    }


@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Sales/Views/Shared/layouts/_Saleslayout.cshtml";
}

<div class="col-md-9">

    @*<div class="panel">
            <div class="panel-heading">
                <h3>
                    Sales Chart
                </h3>
            </div>
            <div class="panel-body">

                @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml", Model.Chart)
            </div>
        </div>*@
   
    @Html.Partial("~/Areas/Sales/Views/Shared/DailySales/_SalesChart.cshtml", Model.Chart)

</div>
<div class="col-md-3">
    @Html.Partial("~/Areas/Sales/Views/Shared/DailySales/_SalesFrom.cshtml", Model.BranchSalesDate)
</div>
<div class="col-md-12">
    @Html.Partial("~/Areas/Sales/Views/Shared/DailySales/SalesDailyTable.cshtml", Model.Chart)

</div>