﻿
@model _Retail.PageModel.Sales.SalesHome
@{
    ViewBag.Title = "Daily Sales report";
    Layout = "~/Views/Shared/layouts/_PrinterLayout.cshtml";
}



<div class="col-md-12">
    @Html.Partial("~/Areas/Sales/Views/Shared/DailySales/_SalesFrom.cshtml", Model.BranchSalesDate)
</div>

<div class="col-md-12">

    @Html.Partial("~/Areas/Sales/Views/Shared/DailySales/_SalesChart.cshtml", Model.Chart)

</div>

<div class="col-md-12">
    @Html.Partial("~/Areas/Sales/Views/Shared/DailySales/SalesDailyTable.cshtml", Model.Chart)

</div>
