﻿

@model  _app.PagesModel.HourReportPage

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
}


<div class="col-md-12">

    <div class="panel" style="background-color:r">
        <div class="panel-body">
            <div id="cal"></div>
        </div>
    </div>

</div>


<script type="text/javascript">
    $(function() {

        var date = new Date(@Model.Day.Year,@Model.Day.Month,@Model.Day.Day);
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        @*var d = @Model.Day.Day;
        var m = @Model.Day.Month;
        var y = @Model.Day.Year;*@


        $('#cal').fullCalendar({
            header: {
               // right: 'title, prev, next',
                right: 'title ',
                center: '@Model.TicketEvents.Count()',
              //  left: 'agendaDay, agendaWeek, month'
                 left: 'agendaDay'
            },
            
            slotMinutes: 30,
            editable: false,
            droppable: false,
            height: 650,
            defaultView: 'agendaDay',
            defaultDate: date,

            viewRender: function (view) {
                $('#dropdown-title').text(view.name);
            },

            events: [
                @foreach (var item in Model.TicketEvents)
                {
                    @:{  title: '@item.title',
                    @:start: new Date(@item.start.Year, @item.start.Month, @item.start.Day, @item.start.Hour, @item.start.Minute),
                    @:end: new Date(@item.end.Year, @item.end.Month, @item.end.Day, @item.end.Hour, @item.end.Minute),
                    @:backgroundColor: '@item.backgroundColor',
                    @:allDay: false,  },
                }

            ]


        });

    });

</script>
<span id="dropdown-title"></span>

