﻿@model _app.PagesModel.TicketTypeHomePage

@{
    ViewBag.Title = "Network";
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
    string srvonlineCss = "", srvonline = "";
}



<div class="col-md-9">

    <div class="panel">
        <div class="panel-heading">
            <h3>@Model.TypeName issues from <time class="timeago" 
                                                  datetime="@Model.From">@Model.From</time> </h3>
        </div>
        <div class="panel-body">

            @Html.Partial("~/Views/Shared/Chart/_Chart.cshtml", Model.Chart1)

        </div>
    </div>

</div>

<div class="col-md-3">
    <div class="panel">
        <div class="panel-heading">
            <h4>Branch Status</h4>
        </div>
        <div class="panel-body">
            <ul class="feeds">

                @foreach (var item in Model.OnlineServers)
                {
                    if (item.online) { srvonlineCss = "success"; srvonline = "Online"; }
                    else { srvonlineCss = "danger"; srvonline = "Offline"; }


                    <li class="text-@srvonlineCss">
                        <a href="javascript:;">
                            <div class="col1">
                                <div class="cont">
                                    <div class="cont-col1">
                                        <div class="label label-sm label-@srvonlineCss">
                                            <i class="fa fa-circle"></i>
                                        </div>
                                    </div>
                                    <div class="cont-col2">
                                        <div class="desc">
                                            @item.name
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col2">
                                <div class="date">
                                    @srvonline
                                </div>
                            </div>
                        </a>
                    </li>

                }



            </ul>
        </div>
    </div>
</div>


<div class="col-xs-12">


    <div class="panel">
        <div class="panel-heading">
            <h4>Period per day</h4>
        </div>
        <div class="panel-body">

            <table class="table table-condensed table-hover">

                <thead>
                    <tr>
                        <th>Date</th>
                        @foreach (var srv in Model.offlineServersTable.dbServers)
                        {
                            <th>@srv.Branch.Name</th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var day in Model.offlineServersTable.offlineServerDayPeroids)
                    {
                        <tr>
                            <td>
                                @day.Date.ToShortDateString()
                            </td>

                            @foreach (var peroid in day.Peroid)
                            {
                                string tdClass = "success";
                                int i = day.Peroid.IndexOf(peroid);
                                var srv = Model.offlineServersTable.dbServers.ElementAt(i);
                                if (peroid.TotalMinutes >= 180 ) { tdClass = "danger"; }
                                else if(peroid.TotalMinutes > 60)  { tdClass = "warning"; }
                              
                            <td class="@tdClass">
                                @if (peroid.TotalMinutes > 0) {
                                <a href="@Url.Action("HourReport", "Network", new { id = srv.ServerID , d= day.Date })">
                                    @_app.UI.TimeSpanToString(peroid)
                                </a>
                                }
                                else
                                {
                                    @_app.UI.TimeSpanToString(peroid)
                                }


                            </td>
                            }
                        </tr>

                    }
                </tbody>

            </table>


        </div>
    </div>
</div>

