﻿
@model _app.PagesModel.ChartClass


<div style="width:100%;">
    <canvas id="canvas_@Model.CanvesID"></canvas>
</div>
<script type="text/javascript">



    @if (Model.ChartType == "line" || Model.ChartType == "bar")
    {
       <text>

            var config_@Model.CanvesID = {
        type: '@Model.ChartType',
            data: {
            labels: @Html.Raw(Json.Encode(Model.Lables)),
                datasets: [

                    @foreach (var ds in Model.ChartDataSets)
                    {
                        @:{ label: '@ds.label', borderColor: 'rgba(@ds.Color)', backgroundColor:'rgba(@ds.Color)' , data: @Html.Raw(Json.Encode(ds.Data)) , fill: false },

                    }

                    @*{
                    label: '@Model.label',
                    // backgroundColor: window.chartColors.@Model.Color,
                    borderColor: window.chartColors.@Model.Color,
                    data: @Html.Raw(Json.Encode(Model.Data)) ,
                    fill: false,
                        , borderColor: window.chartColors.@ds.Color,
                }*@

                ]
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: '@Model.text'
                },
                legend: {
                    labels: {
                        // This more specific font property overrides the global property
                        //fontColor: 'blue',
                        defaultFontFamil:  'Helvetica Neue'
                    }
                },
                tooltips: {

                    callbacks: {
                        label: function (tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += " :" + tooltipItem.yLabel  +" @Model.PointTilite";
                            }

                            return label;
                        }
                    }

                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '@Model.xAexTitle'
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: '@Model.yAexTitle'
                        }
                    }]
                }
            }
        };


        </text>

    }

    else if(Model.ChartType == "doughnut")
    {

        <text>

    var config_@Model.CanvesID = {
        type: 'doughnut',
        data: {
            datasets: [

                    @foreach (var ds in Model.ChartDataSets)
                    {
                        @:{ label: '@ds.label', backgroundColor:  @Html.Raw(Json.Encode(ds.Colors)) , data: @Html.Raw(Json.Encode(ds.Data)) },

                   }
            ],
            labels: @Html.Raw(Json.Encode(Model.Lables)),
            options: {
                responsive: true,
                legend: {
                    position: 'top',
                },
                title: {
                    display: true,
                    text: '@Model.text',
            },
                animation: {
                    animateScale: true,
                    animateRotate: true
                },
                circumference :  Math.PI,
                rotation :-Math.PI ,
            }
        }
    };


        </text>


    }

   



    $(document).ready(function ()
    {
        var ctx_@Model.CanvesID = document.getElementById('canvas_@Model.CanvesID').getContext('2d');
        window.myLine_@Model.CanvesID = new Chart(ctx_@Model.CanvesID, config_@Model.CanvesID);
        console.log(@Model.CanvesID)


    });


</script>