﻿
@model List<bGomla.Areas.it.Controllers.TicketEvent>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
}


<div class="col-md-12">

    <div class="panel" style="background-color:r">
        <div class="panel-body">
            <div id="cal"></div>
        </div>
    </div>
   
</div>


<script type="text/javascript">
    $(function() {

        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#cal').fullCalendar({
            header: {
                right: 'title, prev, next',
                center: '',
                left: 'agendaDay, agendaWeek, month'
            },
            slotMinutes: 15,
            editable: false,
            droppable: false,
            height: 650,

            events: [

                @foreach (var item in Model)
                {
                    @:{  title: '@item.title',
                    @:start: new Date(@item.start.Year, @item.start.Month, @item.start.Day, @item.start.Hour, @item.start.Minute),
                    @:end: new Date(@item.end.Year, @item.end.Month, @item.end.Day, @item.end.Hour, @item.end.Minute),
                    @:backgroundColor: '@item.backgroundColor',
                    @:allDay: false,  },
                }

            ]


        });

    });

</script>