﻿@model List<bGomlaDB.Subscrtion>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
}
@*@foreach (var item in Model)
{

    <div class="col-sm-6" id="subBody_@item.SubscriptionID">
        @Html.Partial("~/Views/Shared/Replication/_SubscriptionPreLoading.cshtml", item)
    </div>

   
}*@
