﻿
@{
    ViewBag.Title = "text";
    Layout = "~/Areas/it/Views/Shared/layouts/_itLayout.cshtml";
}

<div class="col-md-4">
    @Html.Partial("~/Views/Shared/Replication/_ServerPublication.cshtml")
</div>

<script type="text/javascript"  >
    
    var srv = new ServerSubscription('magdi');
    srv.hello();
    


</script>