﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />*@
    <link href="~/Theme/assets/global/fonts.googleapis.com.family=OpenSans.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/MyStyles.css" rel="stylesheet" /> 
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="~/Theme/assets/global/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Theme/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Theme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="~/Theme/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="~/Theme/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Theme/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    @*<link href="~/Theme/assets/admin/layout4/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />*@

    <!-- END THEME STYLES -->
    @*<link rel="shortcut icon" href="favicon.ico" />*@
    <link href="~/Theme/assets/admin/layout4/css/themes/light.css" rel="stylesheet" />
    <link href="~/Theme/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />

    <link href="~/Theme/assets/global/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />

    @System.Web.Optimization.Scripts.Render("~/Content/ts")

    @RenderSection("scripts", required: false)
</head>


<body class="page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo page-header-fixed">





    <script src="~/Theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jquery-migrate.min.js"></script>
    <!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
    <script src="~/Theme/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="~/Theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
    @*<script src="~/Theme/assets/global/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>*@
    <script src="~/Theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
    <!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
    @*<script src="~/Theme/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>*@
    <script src="~/Theme/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="~/Theme/assets/global/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="~/Theme/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="~/Theme/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="~/Theme/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>
    @*<script src="~/Theme/assets/admin/pages/scripts/index.js" type="text/javascript"></script>*@
    <script src="~/Theme/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="~/Scripts/App.js"></script>
    <script src="~/Scripts/Subscriptions.js"></script>
    <script src="~/Scripts/Backup.js"></script>
    <script src="~/Scripts/jquery.timeago.js"></script>
    <script src="~/Theme/assets/global/plugins/chart.js/chart.min.js"></script>
    <script src="~/Theme/assets/global/plugins/chart.js/utils.js"></script>
    @*<script src="~/Theme/assets/global/plugins/chart.js/base.js"></script>*@
    <script src="~/Theme/assets/global/plugins/moment.min.js"></script>
    <script src="~/Theme/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>

    <script>

        function initTimeAgo() {
            jQuery("time.timeago").timeago();
        }
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            initTimeAgo();
            //Index.initDashboardDaterange();
            //Index.initJQVMAP(); // init index page's custom scripts
            //Index.initCalendar(); // init index page's custom scripts
            //Index.initCharts(); // init index page's custom scripts
            //Index.initChat();
            //Index.initMiniCharts();
            //Tasks.initDashboardWidget();
        });

    </script>




    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                    <img src="~/Theme/assets/admin/layout4/img/logo-light.png" alt="logo" class="logo-default">
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE ACTIONS -->
            <!-- DOC: Remove "hide" class to enable the page header actions -->
            <div class="page-actions">
                <div class="btn">
                    <a href="@Url.Action("index","Home",new { area= "IT" })"  class="btn red-haze btn-sm"  >
                        <span class="hidden-sm hidden-xs">It Zone</span>
                    </a>

                </div>
                <div class="btn">
                    <a href="@Url.Action("index","Home",new { area= "Sales" })" class="btn red-haze btn-sm" >
                        <span class="hidden-sm hidden-xs">Sales Zone</span>
                    </a>

                </div>
            </div>
            <!-- END PAGE ACTIONS -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN HEADER SEARCH BOX -->
                <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
                <form class="search-form" action="extra_search.html" method="GET">
                    <div class="input-group">
                        <input type="text" class="form-control input-sm" placeholder="Search..." name="query">
                        <span class="input-group-btn">
                            <a href="javascript:;" class="btn submit"><i class="icon-magnifier"></i></a>
                        </span>
                    </div>
                </form>
                <!-- END HEADER SEARCH BOX -->
                <!-- BEGIN TOP NAVIGATION MENU -->

                <div class="top-menu ">

                    <ul class="nav navbar-nav pull-right">
                        <li class="separator hide">
                        </li>

                        @Html.Partial("~/Areas/it/Views/Shared/Notifications/_TicketsList.cshtml", new _app.PagesModel.TicketNotificationList
                        { CssClassName="danger", icon= "fa fa-share-alt", Tickets = _app.UI.Notifications.Tickets(1) })
                        <li class="separator hide">
                        </li>
                        @Html.Partial("~/Areas/it/Views/Shared/Notifications/_TicketsList.cshtml", new _app.PagesModel.TicketNotificationList
                        { CssClassName= "success", icon= "fa fa-database", Tickets = _app.UI.Notifications.Tickets(2) })
                        <li class="separator hide">
                        </li>
                        @Html.Partial("~/Areas/it/Views/Shared/Notifications/_TicketsList.cshtml", new _app.PagesModel.TicketNotificationList
                       { CssClassName="warning", icon= "fa fa-database", Tickets = _app.UI.Notifications.Tickets(3) })
                        <li class="separator hide">
                        </li>
                        @Html.Partial("~/Areas/it/Views/Shared/Notifications/_TicketsList.cshtml", new _app.PagesModel.TicketNotificationList
                       { CssClassName="danger", icon= "fa fa-database", Tickets = _app.UI.Notifications.Tickets(5) })


                        <li class="dropdown dropdown-user">
                            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" @*data-hover="dropdown"*@ data-close-others="true">
                                <span class="username username-hide-on-mobile">
                                    Magdi
                                </span>
                                <!-- DOC: Do not remove below empty space(&nbsp;) as its purposely used -->
                                <img alt="" class="img-circle" src="~/Theme/assets/admin/layout4/img/avatar9.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-default">
                                <li>
                                    <a href="extra_profile.html">
                                        <i class="icon-user"></i> My Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="page_calendar.html">
                                        <i class="icon-calendar"></i> My Calendar
                                    </a>
                                </li>
                                <li>
                                    <a href="inbox.html">
                                        <i class="icon-envelope-open"></i> My Inbox <span class="badge badge-danger">
                                            3
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="page_todo.html">
                                        <i class="icon-rocket"></i> My Tasks <span class="badge badge-success">
                                            7
                                        </span>
                                    </a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="extra_lock.html">
                                        <i class="icon-lock"></i> Lock Screen
                                    </a>
                                </li>
                                <li>
                                    <a href="login.html">
                                        <i class="icon-key"></i> Log Out
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <!-- END USER LOGIN DROPDOWN -->
                    </ul>

                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>






            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>

    <div class="clearfix">
    </div>

    @RenderBody()
</body>
</html>
