﻿<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
 
</head>


<body class="page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo page-header-fixed">

    <link href="http://dbreport.bgomla.com/Theme/assets/global/fonts.googleapis.com.family=OpenSans.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/MyStyles.css" rel="stylesheet" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGIN STYLES -->
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
    @*<link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css" />*@
    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGIN STYLES -->
    <!-- BEGIN PAGE STYLES -->
    <link href="http://dbreport.bgomla.com/Theme/assets/admin/pages/css/tasks.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link href="http://dbreport.bgomla.com/Theme/assets/global/css/components.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/global/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="http://dbreport.bgomla.com/Theme/assets/admin/layout4/css/layout.css" rel="stylesheet" type="text/css" />
    @*<link href="http://dbreport.bgomla.com/Theme/assets/admin/layout4/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color" />*@

    <!-- END THEME STYLES -->
    @*<link rel="shortcut icon" href="favicon.ico" />*@
    <link href="http://dbreport.bgomla.com/Theme/assets/admin/layout4/css/themes/light.css" rel="stylesheet" />
    <link href="http://dbreport.bgomla.com/Theme/assets/admin/layout4/css/custom.css" rel="stylesheet" type="text/css" />

    <link href="http://dbreport.bgomla.com/Theme/assets/global/plugins/fullcalendar/fullcalendar.css" rel="stylesheet" />



    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery-migrate.min.js"></script>

    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery.cokie.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
    <!-- END CORE PLUGINS -->
    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/flot/jquery.flot.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/flot/jquery.flot.resize.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/flot/jquery.flot.categories.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery.pulsate.min.js" type="text/javascript"></script>

    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>

    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery-easypiechart/jquery.easypiechart.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="http://dbreport.bgomla.com/Theme/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/admin/layout/scripts/layout.js" type="text/javascript"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/admin/layout/scripts/quick-sidebar.js" type="text/javascript"></script>

    <script src="http://dbreport.bgomla.com/Theme/assets/admin/pages/scripts/tasks.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL SCRIPTS -->
    <script src="http://dbreport.bgomla.com/Scripts/App.js"></script>
    <script src="http://dbreport.bgomla.com/Scripts/Subscriptions.js"></script>
    <script src="http://dbreport.bgomla.com/Scripts/Backup.js"></script>
    <script src="http://dbreport.bgomla.com/Scripts/jquery.timeago.js"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/chart.js/chart.min.js"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/chart.js/utils.js"></script>

    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/moment.min.js"></script>
    <script src="http://dbreport.bgomla.com/Theme/assets/global/plugins/fullcalendar/fullcalendar.min.js"></script>

    <script>

        function initTimeAgo() {
            jQuery("time.timeago").timeago();
        }
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            QuickSidebar.init(); // init quick sidebar
            initTimeAgo();

        });

    </script>






    @RenderBody()
</body>
</html>
