﻿
@model _app.PagesModel.TwoCoulmsPage


@{ var d = _app.UI.TwoCoulmsPage(Model); }


<div class="col-md-6">
    @foreach (var item in d.List1)
    {
        
        @Html.Partial(Model.PartialPath, item)

    }
</div>

<div class="col-md-6">
    @foreach (var item in d.List2)
    {

        @Html.Partial(Model.PartialPath, item)

    }
</div>